@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app="HeroicCRM">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - DEMO</title>
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/Content/script/all")
    @RenderSection("Scripts", required: false)
</body>
</html>