@{
    var title = ViewBag.Title ?? "NbCloud";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @AceHelper.Head_Meta()
    <title>@title</title>
    @AceHelper.Head_Css_Global_Compulsory()
</head>
<body class="no-skin">
    <div class="wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div><!--/wrapper-->

    <script type="text/javascript">
        jQuery(document).ready(function () {
            //App.init();
        });
    </script>

    @Html.RenderDelayed()
    @AceHelper.Js_Global_Fix()
</body>
</html>